<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes </title>
    <link rel="icon" type="image/png" href="images/open-book.png">
</head>
<body>
    <div class="container">
        <%- include('partials/header.ejs') %>
        <h2>Books i have read</h2>
        <% if(imgSrc){ %>
            <img src="<%= imgSrc %> " width=" <%=imgSrc.width  %> " height="<%= imgSrc.height %>" alt="Book Cover"/>
            <p> <%= imgSrc  %> </p>
            <% } else { %>
                <p>There is no eror</p>
        <% } %>
    </div>
    
</body>     
</html>